
.boardPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    column-gap: 20px;
}

.boardPageContent{
    /* border:solid red; */
    width:100%;
    /* height:100vh; */
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.boardPageContentHeader1,
.boardPageContentHeader2,
.boardPageContentMainBacklogHeader,
.boardPageContentMainTodoHeader,
.boardPageContentMainInProgressHeader,
.boardPageContentMainDoneHeader,
.boardPageContentMainTodoHeaderRight
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px;
    /* border:solid green; */
    position: relative;
}

.boardPageContentHeader1,
.boardPageContentHeader2{
    margin-right: 30px;
    /* width:88vw; */
}

.boardPageContentHeader1UserNamex,
.boardPageContentHeader2Title{
    text-align: start;
    font-weight: bold;
    /* border: solid blue; */
    margin-top: 25px;
    font-family: "openSans";
    font-size: 20px;
}

.boardPageContentHeader2DropDown{
width: 120px;
height: 30px;
padding: 0px, 3.67px, 0px, 3.67px;
/* border:solid green; */
display: flex;
justify-content: center;
align-items: center;
/* border: 1.1px solid #767575; */
/* background: #EEECEC; */
font-size: 15px;

}


.boardPageContentDropdownMenu{
    position: absolute;
    top:40px;
    right:20px;
    width: 100px;
    height: 80px;
    border-radius: 12px;
    font-size: 15px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
    box-shadow: 0px 0px 4px 4px #4D40551A;
    padding: 10px 15px;
    /* border: solid red; */
    z-index: 1;
    
}

.boardPageContentDropdownMenuDay,
.boardPageContentDropdownMenuWeek,
.boardPageContentDropdownMenuMonth{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}


.boardPageContentDropdownMenuDay.active,
.boardPageContentDropdownMenuWeek.active,
.boardPageContentDropdownMenuMonth.active {
  color: red;
}


.boardPageContentMain{
    /* border:solid blue; */
    width:85vw;
    /* overflow-x: auto; */
    height:90%;
    /* margin:10px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* column-gap: 15px; */
    overflow-x:scroll;
}

.boardPageContentMainSlider{
    /* border:solid yellowgreen; */
    width:1670px;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}


::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */

  }

::-webkit-scrollbar-track {
    background: #D6EAF4; /* Set the background color of the scrollbar track */
  }
  
::-webkit-scrollbar-thumb {
    background: #8DAAB9CC; /* Set the color of the scrollbar thumb */
  }
  

.boardPageContentMainBacklog,
.boardPageContentMainTodo,
.boardPageContentMainInProgress,
.boardPageContentMainDone
{
    width:400px;
    height:98%;
    border-radius: 12px;
    background-color: #EEF2F5;
    /* background: #EEF2F5; */
    /* border:solid green; */
}

.boardPageContentMainTodoHeaderRight{
    /* border:solid red; */
    width:20%;
}

.boardPageContentMainTodoHeaderAddButton{
    font-size: 30px;
}


.boardPageContentMainBacklogCardList,
.boardPageContentMainTodoCardList,
.boardPageContentMainInProgressCardList,
.boardPageContentMainDoneCardList
{
    margin:10px;
    height:88%;
    overflow-y: auto;
    /* border:solid yellow; */
    display: flex;
    justify-content: start;
    text-align: center;
    flex-direction: column;
    row-gap: 15px;

}

.boardPageContentMainBacklogCard,
.boardPageContentMainTodoCard,
.boardPageContentMainInProgressCard,
.boardPageContentMainDoneCard
{
    margin:5px;
    /* border:solid yellow; */
}


