.registerPage,
.registerPageContent,
.registerPageImage,
.registerPageForm,
.registerPageFormContent,
.registerPageFormContentName,
.registerPageFormContentEmail,
.registerPageFormContentPassword,
.registerPageFormContentConfirmPassword,
.registerPageFormContentButtons,
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerPage{
    width: 100vw;
    height: 100vh;
}

.registerPageContent{
    /* border:solid blue; */
    /* padding: 10px; */
    width:100%;
    height: 100%;
   
}


.registerPageImage{
  flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: #17A2B8; 
}

.registerPageImage img{
    width: 65%; 
    height: 55%;
    /* border:solid red; */
    margin: -80px;
    /* background-color: #17A2B8;  */
    /* object-fit: fill; */
}

#registerPageImageLine1{
  font-size: 25px;
  letter-spacing: 0.1em;
  font-weight: 500;
  color: #ffffff;
}

#registerPageImageLine2{
  font-size: 15px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: -10px;
  color: #ffffff;
}

.registerPageForm {
    width: 50%;
    height: 100%;
    /* border: solid green; */
    flex-direction: column;
}

.registerPageFormContent{
    /* border: solid red; */
    width: 100%;
    height: 80%;
    flex-direction: column;
}

.registerPageFormContentHeader{
    font-family: "openSans";
    font-size: 25px;
    font-weight: bold;
}

.form{
    /* border: solid red; */
    height: 60vh;
    flex-direction: column;
    /* align-items: start; */
    row-gap: 20px;
}


.registerPageFormContentName,
.registerPageFormContentEmail,
.registerPageFormContentPassword,
.registerPageFormContentConfirmPassword{
    width:30vw;
    height:5vh;
    margin: 5px 0px;
    border: 1.38px solid #D0D0D0;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    justify-content: space-around;
}


#registerPageFormContentName,
#registerPageFormContentEmail,
#registerPageFormContentPassword,
#registerPageFormContentConfirmPassword{
    width: 80%;
    border: none;
}

input:focus{
 outline: none;
}

#registerPageFormContentName::placeholder {
  font-family: 'Font Awesome 5 Free';
  content: '\f007'; /* Use the Unicode value of the Font Awesome icon */
  /* font-weight: 900; */
  color:#828282;
  
}

#registerPageFormContentEmail::placeholder {
    font-family: 'Font Awesome 5 Free';
    content: '\f0e0'; /* Use the Unicode value of the Font Awesome icon */
    /* font-weight: 900; */
    color:#828282;
  }

  #registerPageFormContentPassword::placeholder {
    font-family: 'Font Awesome 5 Free';
    content: '\f0e0'; 
     font-weight: 900;   
     color:#828282;

  }

  #registerPageFormContentConfirmPassword::placeholder {
    font-family: 'Font Awesome 5 Free';
    content: '\f023'; 
    font-weight: 900;  
    color:#828282;  
  }


  #registerPageFormContentNameError,
  #registerPageFormContentEmailError,
  #registerPageFormContentPasswordError,
    #registerPageFormContentConfirmPasswordError{
    /* border: 1px solid red; */
    text-align: start;
    font-size: 12px;
    margin: 0 0 10px 0;
    color: red;
  }

  .registerPageFormContentButtons{
    flex-direction: column;
    /* border:solid red; */
    height:150px;
    /* row-gap: 10px; */    
  }

  .registerPageFormContentLoginButton,
  .registerPageFormContentRegisterButton{
    width:30vw;
    height:40px;
    /* margin: 5px 0px; */
    background: #17A2B8;
    border-radius: 15px;
    color: #ffffff;
    border: none;
    font-size: 14px;


  }

  .registerPageFormContentLoginButton{

    background: #ffffff;
    color: #17A2B8;
    border: 1px solid #17A2B8;
  }

  #registerPageFormContentHaveNoAccountYet{
    color : #828282;
    /* border: solid green; */
  }


  .registerPageFormContentRegisterButton:hover,
  .registerPageFormContentLoginButton:hover{
    
    width:105%;
    height:45px;
    box-shadow: 0px 2px 0px 3px #0909091a;
    
  }

  

