
.createTaskPage{
    width:100vw;
    height:100vh;
    background: #303D438C;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}


.createTaskPageContent{
  width:45vw;
  height:50vh;
  border-radius: 15px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* row-gap: 30px; */
  background-color: #ffffff;
  position: relative;
  padding:10px 20px;

}

.createTaskPageContentHeader{
    width:100%;
    text-align: start;
    /* border:solid red; */
    margin:8px 0px;
}

span{
    color:red;
}

.createTaskPageContentTitleInput{
    width:100%;

}

#createTaskPageContentTitleInput{
    width: 100%;
    height:30px;
    border-radius: 5px;
    border:none;
    box-shadow: 0px 0px 2px 2px #4D40551A;
    /* padding:5px 25px; */
}

#createTaskPageContentTitleInput::placeholder {
    color: #9B959F;

  }

.createTaskPageContentSelectPriority{
    width:100%;
    border:solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.createTaskPageContentDateAndButtons{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 25px;
}

#createTaskPageContentDate,
#createTaskPageContentButtonCancel,
#createTaskPageContentButtonSave{
  width:10vw;
  height:30px;
  margin: 4px 5px;     
  background: #17A2B8;
  border-radius: 10px;
  color: #ffffff;
  border: none; 
  font-size: 14px;
  font-weight: bold;
}

#createTaskPageContentDate{
    background: #ffffff;
    color: #707070;
    border: 1px solid #E2E2E2;
}

#createTaskPageContentButtonCancel{
    background: #ffffff;
    color: red;
    border: 1px solid red;
  }